{% extends "bootstrap/base.html" %}
{% import 'admin/static.html' as admin_static with context %}

{% block title %}Koodilehto Intra{% endblock %}

{% block head %}
{{ super() }}  <!-- Retain block content from parent -->
<link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="container">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Coop Intra</a>

      % if current_user.is_authenticated()
      <a class="navbar-brand pull-right" href="/logout">Log Out</a>
      % else
      <a class="navbar-brand pull-right" href="/login">Log In</a>
      % endif

      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="{{url_for('member.view')}}">/member</a>
        </li>
        <li>
          <a href="{{url_for('board.view')}}">/board</a>
        </li>
        <li>
          <a href="{{url_for('admin.index')}}">/admin</a>
        </li>
      </ul>
    </div>
    <!-- <div class="navbar-collapse collapse"> -->
    <!--     <ul class="nav navbar-nav"> -->
    <!--         <li><a href="/">Home</a></li> -->
    <!--     </ul> -->
    <!-- </div> -->
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  % for message in get_flashed_messages()
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  % endfor
  
  {% block page_content %}{% endblock %}
  
  <hr/>
  <a href="{{url_for('invoice.view')}}">/invoice</a>
</div>

<a style="position:absolute; bottom:5px; right: 5px; font-size:1.5em;" target="_blank" href="https://github.com/koodilehto/koodilehto-intra">[Source code at Github]</a>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
